#!/usr/bin/env zsh

if [ -e "${HOME}/.functions" ]; then
    source ${HOME}/.functions
else
    echo "-----> .functions not found"
    echo "-----> Exiting"
    exit
fi

determine_if_codespaces_or_macos_or_linux
determine_dotfiles_dir

SUBLIMINAL_DETECTED=$(command -v subliminal)
KUBECTL_DETECTED=$(command -v kubectl)
EXA_DETECTED=$(command -v exa)
BAT_DETECTED=$(command -v bat)
FD_DETECTED=$(command -v fd)
NCDU_DETECTED=$(command -v ncdu)
HTOP_DETECTED=$(command -v htop)
BTOP_DETECTED=$(command -v btop)

if [ ! -z "$SUBLIMINAL_DETECTED" ]; then
	alias subliminal="subliminal --opensubtitles ${opensubs_login} ${opensubs_passw}"
fi 

if [ ! -z "$KUBECTL_DETECTED" ]; then
	alias k="kubectl"
fi

# -------------------------------------
# Exa / ls / ll / ld ...

if [ ! -z "$EXA_DETECTED" ]; then
	alias ls="exa -a --icons"
	alias ll="exa -lagh --icons"                  # list with info
	alias lt="exa -a --tree --icons --level=2"  # list with tree level 2
	alias ltf="exa -a --tree --icons"           # list with tree
	alias lat="exa -lagh --tree --icons" 
else
	alias ls="/bin/ls --color"                   # short, multi-line
	alias ll="/bin/ls --color -lahg" 
fi

alias ld="ll"                               # ^^^, NOTE: Trying to move to this for alternate hand commands

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
	export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
	colorflag="-G"
	export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

# -------------------------------------
# Bat / cat ...

if [ ! -z "$BAT_DETECTED" ]; then
	alias cat='bat --style="header" --paging=never'
	alias catn='bat --pager "less -RF"'
	alias batn='bat --pager "less -RF"'
fi

# -------------------------------------
# Grep

# Always enable colored `grep` output
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# -------------------------------------
# top / htop / btop

if [ ! -z "$BTOP_DETECTED" ]; then
	alias top="btop --utf-force"
	alias btop="btop --utf-force"
	alias htop="btop --utf-force"
else
	if [ ! -z "$HTOP_DETECTED" ]; then
		alias top="htop"
		alias htop="htop"
	fi
fi

# -------------------------------------
# fd / locate / find

if [ ! -z "$FD_DETECTED" ]; then
	alias locate="fd"
	alias find="fd"
fi

# -------------------------------------
# du / duf / ncdu

if [ ! -z "$DUF_DETECTED" ]; then
	# duf
	alias df="duf"
fi

if [ ! -z "$NCDU_DETECTED" ]; then
	# ncdu
	alias du="ncdu"
fi

# -------------------------------------
# Network / IP / DNS

if [ "$MACOS" ] || [ "$LINUX" ]; then
	# List of local IP addresses
	alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
	if [ "$MACOS" ]; then 
		# Get local IP address
		alias localip="ipconfig getifaddr en0"
		# Show active network interfaces
		alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"
	fi
fi

# -------------------------------------
# Macos Dedicated Commands

if [ "$MACOS" ]; then
	# cd to iCloud Drive
	alias home="cd ~/iCloudDrive/"
	# Flush Directory Service cache
	alias flushdns="dscacheutil -flushcache && killall -HUP mDNSResponder"
	# Restart CoreAudio
	alias restart_coreaudio="sudo pkill coreaudiod"
	# Empty the Trash on all mounted volumes and the main HDD.
	# Also, clear Apple’s System Logs to improve shell startup speed.
	# Finally, clear download history from quarantine. https://mths.be/bum
	alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"
	# Get macOS Software Updates & Homebrew packages
	alias update='brew update; brew upgrade; brew cleanup; sudo softwareupdate -i -a'
fi

# -------------------------------------
# Common Linux + Macos Aliases

if [ "$MACOS" ] || [ "$LINUX" ]; then
	# Get week number
	alias week='date +%V'
	# Update dotfiles
	alias update_dotfiles="current_dir=$(pwd) && cd ${dotfiles_dir} && git pull && zsh install.sh && cd ${current_dir}"
fi
